@import 'header';

html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

body {
    height: 100%;
    background-color:#FFF;
    font-size: 1em;
    color: #000000;
  
    p{
      margin-block-end: 0;
      margin-block-start: 0;
    }

    a{
      text-decoration: none;
      color: #000000;
    }
  }

  .container {
    position: absolute;
  }