
header{
    height: 58px;
    border-bottom: 1px #F2F2F2 solid;
    display: flex;
    justify-content: space-between;
    
    .header_title {
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        padding-top: 18px;
        padding-left: 30px;
        margin-block-end: 0;
        margin-block-start: 0;
    }

    .header_loginBtn {
        display: block;
        padding-top: 18px;
        padding-right: 10px;
    }
}
